{{#each projects}}
<div class="col-md-4 col-sm-6 portfolio-item">
    <a href="#portfolioModal{{num}}" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-info-circle fa-3x"></i>
            </div>
        </div>
        <img src="img/portfolio/{{thumbnail}}" class="img-responsive" alt="">
    </a>
    <div class="portfolio-caption">
        <h4>{{title}}</h4>
        <p class="text-muted">{{type}}</p>
    </div>
</div>

    <!-- Portfolio Modal {{num}} -->
    <div class="portfolio-modal modal fade" id="portfolioModal{{num}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{title}}</h2>
                            <p class="item-intro text-muted">{{type}} </p>
                            <img class="img-responsive img-centered" src="img/portfolio/{{pic}}" alt="">
                            <p>{{Detail}} </p>

                            <p>
                                {{#if url}}
                                <a href="{{url}}" target="_blank">
                                    <span class="fa fa-external-link"></span> Website
                                </a>
                                {{/if}}

                                {{#if github}}
                                <a href="{{github}}">
                                    <span class="fa fa-github"></span> github
                                </a>
                                {{/if}} 
                            <p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}