{{#each work}}   
    <!-- workExperience Modal {{num}} -->
    <div class="portfolio-modal modal fade" id="workModal{{num}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{company}}</h2>
                            <p class="item-intro text-muted">{{position}} </p>
                            {{#if pic}}
                            <img class="img-responsive img-centered" src="img/work/{{pic}}" alt="">
                            {{/if}}
                            <p>{{startDate}} - {{endDate}} , {{city}}, {{region}} , {{countryCode}}</p>
                            <ul>
                            {{#each highlights}}
                                <li>{{this}}</li>
                            {{/each}}
                            </ul>
                            {{#if summary}}
                            <p>{{summary}} </p>
                            {{/if}}
                            <p>
                                {{#if website}}
                                <a href="{{website}}" target="_blank">
                                    <span class="fa fa-external-link"></span> Website
                                </a>
                                {{/if}}
                            <p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/each}}